.Weather .container {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  margin-bottom: 2vh;
}
.Weather .search {
  padding: 5vh;
}

.Weather .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: groove;
  color: #757575;
}
.Weather .form-control:hover {
  color: #757575;
}
.Weather .form-control:focus-visible {
  border-color: #8b23e1;
  color: #757575;
}
.Weather .form-control:focus {
  border-color: #8b23e1;
  outline: none;
}

.Weather .item {
  color: #111349;
  font-size: calc(4px + 2vmin);
}

.Weather .item-search:hover {
  color: #8b23e1;
}
.item {
  display: flex;
}

.Weather ul {
  list-style: none;
}

.Weather .container ul {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.Weather .Description {
  color: #111349;
  font-size: calc(4px + 2vmin);
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 2vh;
}

.Weather img {
  max-width: calc(75px + 5vmin);
  padding: 15px;
}

.Weather .Thermometer {
  color: #ee4e0f;
  margin-right: 3px;
}
.Weather .Umbrella {
  color: #8b23e1;
  margin-right: 3px;
}
.Weather .Wind {
  color: #1909f2;
  margin-right: 3px;
}
